
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 223);
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid rgb(14, 14, 201);
    border-radius: 15px;
}
button{
    position: absolute;
    display: flex;
    /* justify-content: space-around; */
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(41, 208, 7);
    color: black;
  border: 2px solid #04AA6D;
  border-radius: 20px;
  font-size: 30px;

}

.second{
    left: 50%;
    top: 20;
}
.first:hover{
    background-color: rgb(224, 7, 159);
}
.second:hover{
    background-color: rgb(224, 61, 7);
}